name: Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    name: ${{ matrix.config.name }}
    runs-on: ${{ matrix.config.os }}
    strategy:
      fail-fast: false
      matrix:
        config:
          - { name: "Linux (x64)",       os: ubuntu-latest }
          - { name: "Linux (ARM64)",     os: ubuntu-latest }
          - { name: "Windows (x64)",     os: windows-latest }
          - { name: "Windows (ARM64)",   os: windows-latest }
          - { name: "macOS (ARM64)",     os: macos-14 }

    steps:
      - uses: actions/checkout@v4

      - name: Install Qt
        uses: jurplel/install-qt-action@v4
        with:
          version: '6.6.0'
          cache: true

      - name: Install Linux Deps
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update
          sudo apt-get install -y libgl1-mesa-dev libxkbcommon-x11-0 libdbus-1-dev libx11-dev libxcb1-dev

      - name: Configure CMake
        run: cmake -B build -DCMAKE_BUILD_TYPE=Release

      - name: Build
        run: cmake --build build --config Release
